@media screen and (max-width:1339px){.caption-wrap-inner{padding-left:50px}}@media screen and (min-width:1270px){.container{padding:0}.wndfal-appointment
.row{margin:0
-31px}.wndfal-appointment [class*="col-"]{padding:0
31px}}@media screen and (max-width:1269px){.header-style-two .wndfal-navigation>ul>li>a{padding-right:18px}.wndfal-partners .owl-carousel .owl-nav button.owl-prev{left:-20px}.wndfal-partners .owl-carousel .owl-nav button.owl-next{right:-20px}.owl-carousel.carousel-style-three .owl-nav{left:-290px}}@media screen and (min-width:1200px){.container{max-width:1170px}.wndfal-navigation
.container{max-width:none;padding:0}}@media screen and (max-width:1199px){.industry-item{max-width:370px;margin:0
auto}.appointment-form .appointment-style-two input[type="submit"]{min-width:10px;margin-top:20px !important}.service-item{padding-left:0;padding-right:0}.stats-title-wrap{padding:0
0 20px}.wndfal-sticky-footer .main-wrap-inner{margin-bottom:0 !important}.wndfal-sticky-footer .wndfal-footer{position:static}.footer-spacer-one{padding-right:0}.header-style-two .wndfal-header{position:relative}.header-style-two .wndfal-toggle{margin-left:15px}.swiper-style-two .caption-wrap-inner{padding-top:100px}.caption-wrap-inner.caption-style-two{padding-left:0}.wndfal-appointment.appointment-style-two{margin-top:-230px}.about-info{padding:0}.owl-carousel.carousel-style-three .owl-nav{top:290px;left:-240px}.mate-item{max-width:270px;margin:0
auto;margin-bottom:25px}.blog-item-wrap .blog-info{padding:20px
25px 10px}.blog-item-wrap
h4{font-size:16px;line-height:22px}.appointment-style-two .appointment-form input[type="submit"]{min-width:10px;margin-top:20px}.header-style-three .navigation-wrap{padding:13px
0}.swiper-style-three .caption-wrap-inner{max-width:none}.services-style-three .service-item{padding:30px
25px 35px}.offer-item{max-width:270px}.download-item{margin-bottom:30px}.offer-style-two .offer-item{max-width:none}.wndfal-widget.widget-contact{display:inline-block}.woocommerce ul.products
h4{font-size:14px}.woocommerce .col2-set,
.woocommerce-page .col2-set{width:auto;margin:0
-15px}.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2{padding:0
15px}.blog-custom-width .secondary-wrap{padding-left:0}.left-sidebar .blog-custom-width .secondary-wrap{padding:0}}@media screen and (max-width:991px){.wndfal-header .header-contact{display:none}.swiper-container{height:500px;min-height:500px}.caption-wrap-inner{padding-left:0}.caption-wrap-inner
h1{font-size:40px;line-height:48px}.caption-wrap-inner
h4{font-size:20px}.swiper-button-prev{left:0}.swiper-button-next{right:0}.welcome-info{padding:20px
0 0}.section-title-wrap
h2{font-size:32px}.title-style-two
h2{font-size:28px}.wndfal-callout,
.wndfal-callout
.textright{text-align:center}.callout-title{padding-bottom:20px}.choose-info{padding-top:40px}.choose-info .section-title-wrap{padding-bottom:5px}.intro-item{padding:20px}.footer-wrap{padding:70px
0 35px}.footer-widget-title{padding-bottom:15px}.masonry-item{width:50%}.wndfal-page-title
h2{font-size:38px}.footer-widget{margin-bottom:0}.footer-widget .wndfal-social{padding-top:24px}.swiper-container.swiper-style-two{height:600px;min-height:600px}.about-info{padding-bottom:30px}.services-style-two .section-title-wrap{padding:0
0 30px}.owl-carousel.carousel-style-three .owl-nav{position:static;text-align:center}.testimonial-item
br{display:none}.swiper-style-three .caption-wrap-inner{padding-top:100px}.services-style-four .service-item{padding-bottom:20px}.wndfal-reliable
h2{font-size:28px}.wndfal-secondary,
.wndfal-woo-sidebar .wndfal-secondary{padding-top:60px}.secondary-wrap,
.left-sidebar .secondary-wrap{padding:0}.wndfal-map{height:350px}.mid-spacer-four{padding-bottom:60px}.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.woocommerce-account .u-column1.col-1.woocommerce-Address,
.woocommerce-account .u-column2.col-2.woocommerce-Address{max-width:100%;margin-bottom:10px}.diffrent-address{padding-top:30px}.woocommerce .woocommerce-checkout-review-order table.shop_table
th{min-width:50%}.blog-custom-width .wndfal-primary{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.blog-custom-width .wndfal-secondary{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.blog-custom-width .wndfal-secondary{padding-top:60px}.blog-info
h2{font-size:26px}.left-sidebar .custom-sidebar-wrap,
.left-sidebar .page-sidebar-wrap{-ms-flex-order:2;order:2}.wndfal-error{padding:0}}@media screen and (max-width:800px){.mfp-close{top:0;right:0;width:35px;height:35px;background:rgba(0, 0, 0, 0.6)}.mfp-close:active{top:0}.mfp-close:before,.mfp-close:after{top:9px;left:16px}.mfp-arrow-left{left:15px}.mfp-arrow-right{right:26px}.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close{position:fixed;top:0;width:35px}.about-info .check-list{padding-bottom:10px}}@media screen and (max-width:782px){.admin-bar .is-sticky .wndfal-header{top:46px !important}}@media screen and (max-width:768px){.wndfal-main-wrap .fw-step-summary-part{width:100%}.wndfal-main-wrap .fw-step-summary-part{margin-left:0}.wndfal-main-wrap #multi-step-form.fw-large-container .fw-progress-bar .fw-progress-step:before{height:40px;line-height:36px;top:0;width:40px;font-size:20px;padding-right:0}.wndfal-main-wrap #multi-step-form.fw-large-container .fw-progress-bar .fw-progress-step{padding:40px
0px 10px 0}.wndfal-main-wrap .fw-txt-ellipsis{font-size:17px}}@media screen and (max-width:767px){p{font-size:16px}h1,.h1{font-size:30px}h2,.h2{font-size:26px}h3,.h3{font-size:20px}blockquote{padding:15px
20px;margin:15px
0 20px}blockquote
p{font-size:14px}.wndfal-topbar{padding:20px
0;text-align:center}.wndfal-topbar
.textright{text-align:center}.wndfal-topbar .wndfal-social{padding-top:8px}.wndfal-header{padding-top:20px;min-height:70px}.navigation-wrap{padding:10px
15px;margin-top:20px}.wndfal-navigation>ul>li>a{padding-left:15px}.wndfal-navigation>ul,.dropdown-nav{font-size:14px}.search-box{width:510px;bottom:20px;padding:15px}.search-link [class*="ti-"]{font-size:16px}.swiper-container{height:auto;min-height:10px}.appointment-form .appointment-style-two input[type="submit"]{margin-top:0 !important;width:100%}.caption-wrap-inner{padding:50px
0 40px}.caption-wrap-inner
h1{font-size:30px;line-height:36px}.caption-wrap-inner
h4{font-size:18px}.wndfal-btns-group{padding-top:10px}.wndfal-appointment,.wndfal-testimonials,.wndfal-blog.blog-style-two,.wndfal-services.services-style-three,.wndfal-offer,.wndfal-certificates,.wndfal-mid-wrap{padding:50px
0}.wndfal-blog,.footer-wrap,.wndfal-services.services-style-four{padding:50px
0 25px}.wndfal-welcome{padding:50px
0 35px}.section-title-wrap{padding-bottom:20px}.section-title-wrap
h2{font-size:26px}.section-title-wrap
p{font-size:16px}.title-style-two
h2{font-size:24px}.section-title{padding-bottom:5px}.welcome-info .check-list{padding-top:5px}.check-list
li{padding-bottom:8px}.industry-item{margin-bottom:25px}.industry-info-wrap{padding-left:25px;padding-right:25px}.industry-info
h3{font-size:20px}.industry-info-inner{padding-top:5px}.industry-info .wndfal-link{margin-top:0}.wndfal-callout{padding:30px
0}.wndfal-callout
h2{font-size:22px;line-height:30px}.service-item{padding-bottom:10px;margin-bottom:25px}.service-item .wndfal-icon{padding-bottom:10px}.service-item
h3{font-size:20px}.appointment-form{padding:20px
25px 30px}.appointment-form
h3{font-size:22px;line-height:30px}.appointment-style-two .appointment-form
h3{line-height:30px}.appointment-title{padding-bottom:15px}.appointment-form input[type="submit"]{margin-top:0}.btn-link{padding:10px
55px 10px 20px;font-size:15px}.card-body{padding:20px
20px 15px}.card-body
p{font-size:16px}.carousel-style-two .owl-nav{top:-50px}.wndfal-customers .section-title-wrap{padding-bottom:15px}.customer-item{padding:20px}.wndfal-stats
h3{font-size:24px;line-height:32px}.stats-item{padding-bottom:15px}.stats-item
h2{font-size:30px;line-height:38px}.stats-item [class*="ti-"]{font-size:30px}.wndfal-emergency{padding:35px
0}.wndfal-emergency
h2{font-size:22px}.blog-wrap.blog-style-two .blog-item{max-width:370px;padding-bottom:25px;margin:0
auto}.wndfal-blog .section-title-wrap{padding-bottom:20px}.blog-info
h3{font-size:20px}.blog-info{padding:20px
0 0}.blog-date{padding-bottom:5px}.blog-info .wndfal-link{margin-top:0}.partners-title{padding-bottom:20px}.wndfal-intro{padding:15px
0}.intro-item{padding:10px
15px}.intro-title,
.intro-item [class*="ti-"],
.intro-item
h3{font-size:18px}.footer-contact{padding:0}.footer-widget .wndfal-social{padding-top:15px}.subscribe-form{padding:0
0 25px}.wndfal-copyright{padding:25px
0;text-align:center}.wndfal-copyright
.textright{padding-top:10px;text-align:center}.breadcrumb{display:block}.wndfal-masonry{margin:0}.masonry-item{width:100%;padding:0
0 25px}.masonry-filters{margin-bottom:25px;font-size:14px}.masonry-filters ul
li{padding-right:15px}.masonry-filters ul li
a{padding-bottom:10px}.header-style-two .wndfal-brand{padding:25px
0}.header-style-two .wndfal-topbar .wndfal-social{padding-top:0}.header-style-two .header-btn{padding-left:15px}.call-link{padding-top:5px;font-size:16px}.wndfal-appointment.appointment-style-two{margin-top:50px}.swiper-container.swiper-style-two{height:auto;min-height:10px}.swiper-style-two .caption-wrap-inner{padding:50px
0 40px}form .appointment-style-two input,
form .appointment-style-two textarea,
form .appointment-style-two
select{margin-bottom:20px}.appointment-style-two .appointment-form input[type="submit"]{min-width:100%;margin:0}.wndfal-industries.industries-style-two{padding-top:50px}.industries-style-two .industry-item{margin:0
auto 25px}.about-info
h2{font-size:26px}.about-info .check-list{padding-top:0}.about-info .wndfal-btns-group{padding-top:15px}.services-style-two .section-title-wrap{padding-bottom:15px}.services-style-two .section-title{padding-bottom:5px}.service-info{padding-top:15px}.service-info
h4{font-size:18px}.service-info .wndfal-link{margin-top:0;font-size:16px}.feature-item{padding-bottom:15px}.feature-item .wndfal-icon,
.feature-item.wndfal-hover .wndfal-icon{padding-bottom:5px}.feature-item
h3{font-size:18px}.feature-title{padding-bottom:5px}.testimonials-wrap
h2{font-size:30px}.testimonials-title{padding-bottom:10px}.testimonial-item{padding:0
30px}.testimonial-item
p{font-size:18px;line-height:24px}.author-name{padding:0}.owl-carousel .owl-dots{padding-top:15px}.partners-style-two .section-title-wrap{padding-bottom:15px}.partners-style-two .section-title-wrap
h2{font-size:26px}.swiper-container.swiper-style-three{height:350px;min-height:350px}.swiper-style-three .caption-wrap-inner{padding:50px
0 40px}.caption-call-link{padding-bottom:0}.caption-style-three .wndfal-btns-group{padding-top:20px}.caption-wrap-inner
h3{font-size:26px}.services-wrap{margin-top:0}.services-emergency{padding:30px
0 0}.services-emergency-title{padding:0
0 10px}.features-style-two .section-title-wrap{padding-bottom:15px;margin-bottom:25px}.features-style-two .feature-item{padding-bottom:15px}.wndfal-request{padding:20px
20px 25px}.appointment-form.wndfal-cntat-form.wndfal-form .wndfal-request{padding:0}.wndfal-request
h3{font-size:22px}.request-title{padding-bottom:15px}.wndfal-reliable{padding:50px
0 40px}.wndfal-reliable
h2{font-size:24px}.wndfal-reliable
p{font-size:18px}.offer-item{margin:0
auto 25px}.wndfal-link-wrap{padding-top:0}.wndfal-link-wrap .wndfal-link{margin-top:0}.gallery-item{margin:0
auto 25px}.wndfal-emergency.emergency-style-two{padding:35px
0}.emergency-call-link{padding-top:5px;font-size:22px}.wndfal-map{height:300px}.wndfal-page-title
h2{font-size:32px;line-height:38px}.wndfal-page-title{padding:50px
0 40px}.wndfal-welcome.welcome-style-two{padding-top:50px}.welcome-style-two .welcome-info .section-title-wrap{padding-bottom:0}.welcome-style-two .welcome-info .section-title-wrap
p{font-size:16px;line-height:24px}.wndfal-quote{padding:50px
0 40px}.quote-wrap
h2{font-size:24px;line-height:34px}.wndfal-certificates .section-title-wrap{padding-bottom:20px}.download-item{padding:25px;margin-bottom:25px}.download-item
.textright{padding-top:20px;text-align:left}.wndfal-offer.offer-style-two{padding-bottom:25px}.offer-style-two .offer-item{max-width:370px;margin-bottom:25px}.offer-style-two .offer-title{padding-bottom:5px}.offer-style-two .offer-info{padding-top:15px}.offer-style-two .offer-info
p{padding-bottom:10px}.services-style-four .service-item
h3{font-size:20px}.services-style-four .section-title-wrap{padding-bottom:15px}.services-style-four .service-title{padding-bottom:10px}.service-item .bullet-list{font-size:15px}.wndfal-reliable.reliable-style-two{padding:50px
0 40px}.service-details
h2{font-size:24px}.service-detail-title{padding:5px
0}.service-details
p{padding-bottom:10px}.service-details .bullet-list{padding:0
0 5px}.team-style-three .service-detail-title,
.services-request .service-detail-title{padding-bottom:15px}.wndfal-secondary{padding-top:50px}.brochure-wrap{padding:20px
20px 25px}.brochure-wrap .wndfal-btns-group{padding-top:10px}.widget-contact-info
h3{font-size:22px}.wndfal-pricing
.table{white-space:nowrap}.table thead
th{font-size:14px}.table
td{font-size:15px}.customers-style-two .customer-item{margin-bottom:25px}.customers-style-two .wndfal-btns-group{padding-top:0}.wndfal-faq .section-title-wrap{padding-bottom:15px}.wndfal-faq .section-title-wrap
h2{font-size:24px}.wndfal-faq .section-title{padding-bottom:10px;margin-bottom:10px}.faq-form
h2{font-size:24px}.faq-form{padding-top:25px}.faq-form-title{padding-bottom:15px}.faq-form textarea,
.faq-form textarea.form-control{height:130px}.accordion-style-two .card-body{padding:15px
20px 20px}.faq-meta{padding-top:15px}.contact-info .section-title-wrap{margin-bottom:20px}.contact-info .section-title{padding-bottom:5px}.contact-inner-info
br{display:none}.contact-info .wndfal-social{padding-top:10px}.contact-form textarea,
.contact-form textarea.form-control{height:130px}.mid-spacer-two,.mid-spacer-three{padding-bottom:25px}.gallery-item .owl-carousel .owl-dots{bottom:10px}.gallery-title{padding:10px
0 0}.mid-spacer-four{padding-bottom:15px}.woocommerce
ul.products{padding-top:15px}.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product,
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product,
.woocommerce ul.products.columns-3 li.product,
.woocommerce-page ul.products.columns-3
li.product{width:50%;padding-bottom:30px}.woocommerce ul.products li.product
.price{padding-bottom:15px}.woocommerce ul.products li.product
.onsale{top:6px;right:6px}.wndfal-widget,
.wndfal-widget.search-widget,
.wndfal-widget.categories-widget,
.slider-widget .widget-title,.wndfal-widget.slider-widget,.wndfal-widget.products-widget,.wndfal-widget.tag-widget{margin-bottom:25px}.widget-title,
.categories-widget .widget-title{padding-bottom:10px;margin-bottom:15px}.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product
div.images{width:100%}.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product
div.summary{width:100%;padding:20px
0 0}.woocommerce div.product
.product_title{font-size:24px}.woocommerce div.product .entry-summary
p.price{margin-bottom:15px}.woocommerce div.product form.cart,
.woocommerce div.product
p.cart{padding-top:15px}.woocommerce div.product .product_meta.meta-categories{padding-top:20px}.woocommerce-tabs{padding-top:10px}.woocommerce div.product .woocommerce-tabs #tab-description{padding:15px
20px 10px}.woocommerce div.product .woocommerce-tabs
.panel{padding:20px
20px 25px}.woocommerce-Tabs-panel
h2{margin-bottom:10px;font-size:18px}.woocommerce #reviews #comments ol.commentlist li .comment-text{padding:0
0 0 20px}.woocommerce #reviews #comments ol.commentlist li .comment-text
.description{padding-top:5px}.woocommerce #reviews #comments ol.commentlist
li{margin-bottom:0}.woocommerce #reviews
h3{padding:5px
0 10px}.woocommerce #reviews
#comment{height:130px}.woocommerce #review_form #respond .comment-form-author,
.woocommerce #review_form #respond .comment-form-email{width:100%}.woocommerce .related-product-title{padding-bottom:0;font-size:24px}.related.products{padding-top:40px}.mid-spacer-five{padding-bottom:25px}.woocommerce table.shop_table td.product-image{padding-left:10px}.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals
.cart_totals{width:100%}.woocommerce #content table.cart td.actions .coupon,
.woocommerce table.cart td.actions .coupon,
.woocommerce-page #content table.cart td.actions .coupon,
.woocommerce-page table.cart td.actions
.coupon{float:none;overflow:hidden;display:block}.woocommerce #content table.cart td.actions,
.woocommerce table.cart td.actions,
.woocommerce-page #content table.cart td.actions,
.woocommerce-page table.cart
td.actions{text-align:left}.woocommerce .cart .actions input[type="submit"]:disabled{margin-top:15px}.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text{width:310px}.woocommerce
table.shop_table{margin-bottom:40px}.cart_totals
h2{padding-bottom:10px}.woocommerce
table.shop_table.cart{white-space:nowrap}.woocommerce table.shop_table td.product-image
img{max-width:57px}.woocommerce-error,.woocommerce-info,.woocommerce-message{padding:13px
15px !important}.woocommerce form.login,
.woocommerce
form.register{padding:15px
20px 10px}.woocommerce form .form-text{margin-bottom:10px}.woocommerce form.checkout_coupon input.input-text{width:300px}.woocommerce
form.checkout_coupon{padding:20px}.woocommerce-checkout
h3{padding-bottom:15px}.woocommerce-checkout{padding-top:20px}.woocommerce form .form-row.create-account
.checkbox{padding-bottom:0}.woocommerce form .shipping-diffrent-address{padding-top:20px}.woocommerce-checkout-review-order{padding:25px
0}.blog-wrap .blog-item{max-width:none;padding-bottom:25px;margin-bottom:25px}.blog-wrap .blog-info{padding-top:20px}.blog-wrap .blog-title{padding-bottom:5px}.blog-info
h2{font-size:22px}.blog-date
ul{font-size:14px}.blog-meta{padding-top:10px}.blog-custom-width .wndfal-secondary{padding-top:50px}.post-item:last-child{padding-bottom:0}.mid-spacer-seven{padding-bottom:40px}.blog-detail{padding:20px
0 25px}.blog-detail
h2{font-size:24px}.blog-detail
h4{font-size:15px;line-height:24px}.blog-detail-title{padding-bottom:5px}.blog-detail-subtitle{padding-bottom:10px}.blog-detail
p{padding-bottom:10px}.blog-detail blockquote
p{font-size:16px}.blog-detail
h3{font-size:18px}.blog-inner-title{padding:0
0 5px}.blog-detail .bullet-list{padding:5px
0 10px}.wndfal-blog-share{padding:30px
0 15px}.wndfal-author-info{padding:20px}.author-content{padding-left:20px}.author-content
p{padding-bottom:5px}.author-content .wndfal-social{padding-top:0}.author-content .author-name{margin-bottom:3px}.wndfal-comments-area .comments-title{padding-bottom:15px}.wndfal-comments-area .comment-main-area{padding:0
0 0 20px}.wndfal-comments-area .wndfal-comments-meta{padding-bottom:5px}.comments-reply{padding-top:5px}.wndfal-comments-area .comment-item{padding-bottom:25px;margin-bottom:25px}.wndfal-comments-area .comments li .children .comment-item{padding-left:20px}.wndfal-blog-detail .comment-reply-title{padding-bottom:10px}.comments-section{padding-bottom:15px}.wndfal-comment-form
textarea{height:130px}.wndfal-error
h1{font-size:130px;line-height:120px}.error-icon{margin-top:-13px}.error-icon
img{width:100px}.wndfal-error
h2{font-size:26px}.wndfal-error
p{font-size:16px}.wndfal-error .wndfal-btns-group{padding-top:10px}.wndfal-unit-fix .entry-content .comment-list article,
.wndfal-unit-fix .entry-content .comment-list .pingback,
.wndfal-unit-fix .entry-content .comment-list
.trackback{padding:15px
0 20px}.entry-content
dd{margin-bottom:10px}.wp-caption{max-width:100%;margin-bottom:10px}.entry-content .wndfal-responsive-table{white-space:nowrap}.entry-content .comment-list article,
.entry-content .comment-list .pingback,
.entry-content .comment-list
.trackback{padding:20px
0}.entry-content .comment-content ul,
.entry-content .comment-content
ol{margin:0
0 10px 0}.entry-content .comment-metadata{margin-bottom:5px}.entry-content .comment-list .comment-reply-link{margin-top:0}.entry-content .comment-list
.children{padding-left:0}.entry-content .comment-notes,
.entry-content .comment-awaiting-moderation,
.entry-content .logged-in-as,
.entry-content .form-allowed-tags{padding-bottom:10px}.comment-subscription-form
label{font-size:12px}.gallery-item .wndfal-image{max-width:370px;margin:0
auto}.masonry-item .gallery-item{display:block;max-width:370px}.services-emergency
h3{width:100%}.wndfal-offer-content,.wndfal-offer-image{width:100%}.wndfal-about .wndfal-image{padding-top:25px}}@media screen and (max-width:600px){.admin-bar .is-sticky .wndfal-header{top:0 !important}.woocommerce.woocommerce-page .woocommerce-message
a.button{width:100%}.woocommerce.woocommerce-page .woocommerce-message{text-align:center}}@media screen and (max-width:575px){h1,.h1{font-size:26px}h2,.h2{font-size:22px}.container,
.wndfal-main-wrap[class*="header-style-"] .wndfal-navigation
.container{padding:0
25px}.wndfal-about
.container{padding:0
15px}.search-box{left:25px;right:25px;width:auto;-webkit-transform:translateX(0) translateY(50%);-ms-transform:translateX(0) translateY(50%);transform:translateX(0) translateY(50%)}.search-box.open{-webkit-transform:translateX(0) translateY(0);-ms-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0)}.search-box input[type="submit"]{min-width:50px}.search-box input[type="text"]{padding-right:60px}.dropdown-nav{padding-left:20px}.wndfal-main-wrap[class*="header-style-"] .wndfal-navigation .dropdown-nav,
.wndfal-main-wrap[class*="header-style-"] .wndfal-navigation .has-dropdown.sub .dropdown-nav{padding-left:10px}.wndfal-brand{display:block;text-align:center}.header-right{display:none}.caption-wrap-inner
h1{font-size:26px;line-height:32px}.swiper-button-prev,.swiper-button-next{display:none}.wndfal-stats
h3{font-size:22px}.stats-title-wrap{padding-bottom:15px}.wndfal-blog .textright,
.blog-style-two
.textright{text-align:left}.wndfal-blog .section-title{padding-bottom:10px}.header-style-two .header-right{display:block}.header-style-two .wndfal-brand{text-align:left}.header-style-two .header-btn{display:none}.header-style-two .search-link{margin-right:40px}.header-style-two .wndfal-toggle{margin-left:10px}.mate-item{margin:0
auto 25px}.about-info
h2{font-size:22px}.testimonials-wrap
h2{font-size:26px}.testimonials-wrap .owl-carousel .owl-nav button.owl-prev,
.testimonials-wrap .owl-carousel .owl-nav button.owl-next{display:none}.testimonial-item{padding:0}.testimonial-item
p{font-size:16px;line-height:22px}.testimonial-item
h5{font-size:16px}.features-style-two .section-title-wrap{margin-bottom:20px}.services-emergency
h3{font-size:20px}.wndfal-reliable
h2{font-size:22px}.wndfal-reliable
p{font-size:16px;line-height:22px}.services-emergency
span{padding-bottom:3px;font-size:20px}.emergency-call-link{font-size:20px}.services-style-three .service-info
p{font-size:16px}.wndfal-map{height:250px}.caption-wrap-inner
h3{font-size:20px}.caption-wrap-inner .wndfal-btn{margin:0
7px 10px 0}.services-style-three .service-info .service-title{padding-bottom:5px}.quote-wrap
h2{font-size:20px;line-height:30px}.wndfal-page-title
h2{font-size:30px}.service-details
h2{font-size:22px}.team-style-three .mate-item{margin:0
0 25px}.services-request input[type="submit"]{margin-top:0}.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product,
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product,
.woocommerce ul.products.columns-3 li.product,
.woocommerce-page ul.products.columns-3
li.product{width:100%;padding-bottom:25px}.woocommerce ul.products li.product
.onsale{top:-5px;right:32px}.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last,
.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last{width:100%}.woocommerce form .form-row input.input-text,
.woocommerce form .form-row select,
.woocommerce form .form-row
textarea{margin-bottom:20px}.woocommerce form.checkout_coupon input.input-text{float:none;width:100%}.woocommerce form.checkout_coupon
input.button{float:none;min-width:100%;margin:0}.woocommerce .woocommerce-checkout-review-order
table.shop_table{white-space:normal}.blog-info
h2{font-size:20px;line-height:26px}.blog-meta{padding-top:5px}.blog-detail
h2{font-size:22px}.blog-detail .blog-meta
.textright{text-align:left}.blog-detail .blog-meta .blog-comment{margin-top:10px}.woocommerce-cart table.cart td.actions .coupon .input-text{width:100%}.woocommerce-page table.cart td.actions .coupon .input-text+.button{width:100%;margin-top:8px}}@media screen and (max-width:479px){.wndfal-header
.row{margin:0}.wndfal-header [class*="col-"]{padding:0}.wndfal-brand
img{width:160px;height:auto}.caption-wrap-inner
h1{font-size:22px;line-height:30px}.caption-wrap-inner
h4{font-size:16px}.caption-wrap-inner .wndfal-btn,
.swiper-style-three .caption-wrap-inner .wndfal-btn{min-width:100%}.wndfal-topbar .social-label{padding-right:0}.section-title-wrap
h2{font-size:24px}.title-style-two
h2{font-size:22px}.check-list{font-size:16px}.wndfal-callout
h2{font-size:20px;line-height:28px}.appointment-form{padding-left:20px;padding-right:20px}.appointment-form
h3{font-size:20px}.wndfal-stats
h3{font-size:20px;line-height:28px}.stats-item
h2{font-size:26px;line-height:32px}.wndfal-emergency
h2{font-size:20px}.blog-info
h3{font-size:18px}.partners-title{text-align:center}.footer-widget ul
li{padding-bottom:8px}.carousel-style-two .owl-nav{padding-top:20px;position:static;text-align:center}.industry-info-wrap{padding-left:15px;padding-right:15px}.industry-info-inner
p{font-size:15px;line-height:20px}.services-style-two .carousel-style-two .owl-nav{padding-top:0}.blog-item-wrap .blog-info{padding:15px
20px 10px}.partners-style-two .section-title-wrap
h2{font-size:24px}.wndfal-request input[type="submit"]{min-width:100%}.services-style-three .service-item{padding:20px
25px 30px}.services-style-three .service-item .wndfal-icon{float:none}.services-style-three .service-info{padding:6px
0 0}.services-style-three .service-info .wndfal-btns-group{padding-top:10px}.feature-info{padding-left:15px}.feature-info .feature-title{padding-bottom:5px}.feature-info
h4{font-size:18px}.wndfal-reliable .wndfal-btn{min-width:100%}.certificate-item{text-align:center}.wndfal-page-title
h2{font-size:26px;line-height:34px}.download-item{text-align:center}.download-item .wndfal-icon{float:none;margin:0
auto}.download-info{padding:15px
0 0}.download-item
.textright{text-align:center}.service-details
h2{font-size:20px;line-height:26px}.service-details
h4{font-size:18px}.services-request input[type="submit"]{min-width:100%}.wndfal-faq .section-title-wrap
h2{font-size:22px}.faq-form input[type="submit"]{min-width:100%}.accordion-style-two .card-body{padding-left:15px;padding-right:15px}.faq-meta
a{margin-left:5px}.contact-form form input[type="submit"]{min-width:100%}.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count{float:none;padding:0
0 10px;text-align:center}.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering{float:none}.woocommerce nav.woocommerce-pagination
ul{margin-top:0}.woocommerce div.product
.product_title{font-size:22px}.woocommerce #reviews #comments ol.commentlist li
img.avatar{float:none}.woocommerce #reviews #comments ol.commentlist li .comment-text
.meta{display:block}.woocommerce .star-rating{float:none}.woocommerce #reviews #comments ol.commentlist li .comment-text{padding:10px
0 0}.woocommerce #review_form #respond .form-submit input,
.woocommerce #respond
input#submit{min-width:100%}.woocommerce .related-product-title{font-size:22px}.woocommerce-Tabs-panel
h2{font-size:16px}.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text{float:none;display:block;width:100%}.woocommerce .cart .actions .coupon input[type="submit"]{float:none;min-width:100%;margin-top:15px}.woocommerce .cart .actions input[type="submit"].update-cart{min-width:100%}.woocommerce .cart_totals table.shop_table
th{min-width:10px}.cart-collaterals table.shop_table th,
.cart-collaterals table.shop_table
td{float:left;width:100%}.woocommerce .cart_totals table.shop_table
td{padding-left:15px;padding-right:15px}.woocommerce .cart_totals table.shop_table .shipping
th{padding-top:11px}.woocommerce .cart_totals table.shop_table tr.shipping
td{padding:20px
20px 25px}.woocommerce .wc-proceed-to-checkout
.button.alt{float:none;min-width:100%;padding:15px}.woocommerce .cart_totals .calculate-shipping input[type="submit"]{min-width:100%}.woocommerce table.shop_table .cart-subtotal
th{border-bottom:1px solid #eee}.woocommerce form .form-row
input.button{min-width:100%}.woocommerce form .form-row
label.inline{margin-left:0}.woocommerce form
.lost_password{padding-top:5px}.woocommerce form .diffrent-address .wpcf7-list-item-label{font-size:16px}.woocommerce form .wpcf7-list-item-label{display:inline}.woocommerce .wc_payment_method .wpcf7-list-item-label
a{margin:15px
0 0 25px}.woocommerce #payment #place_order,
.woocommerce-page #payment
#place_order{min-width:100%}.woocommerce #add_payment_method #payment ul.payment_methods li,
.woocommerce .woocommerce-cart #payment ul.payment_methods li,
.woocommerce .woocommerce-checkout #payment ul.payment_methods
li{padding-bottom:5px}.blog-detail
h2{font-size:20px;line-height:28px}.wndfal-social.square
a{margin:0
5px 10px 0}.author-avatar{float:none}.author-content{padding:15px
0 0}.wndfal-comments-area .comment-image{float:none}.wndfal-comments-area .comment-main-area{padding:10px
0 0}.wndfal-comments-area .comment-wrapper
p{line-height:24px}.wndfal-comment-form input[type="submit"],
.comment-respond input[type="submit"]{min-width:100%}.wndfal-error
h1{font-size:90px;line-height:75px}.error-icon{margin-top:-10px}.error-icon
img{width:70px}.wndfal-error
h2{font-size:22px}.estimation-item.service .select-service .wpcf7-list-item > label,
.estimation-item.service .wpcf7-list-item{width:100%}}@media screen and (max-width:410px){.masonry-filters ul li
a{padding-bottom:2px;margin-bottom:10px}.wndfal-offer-content{padding:30px
30px}.woocommerce-cart-form .product-name
a{width:100%;display:table}}@media screen and (max-width:359px){.caption-wrap-inner
h1{font-size:20px;line-height:28px}.caption-wrap-inner
h4{font-size:15px}.appointment-form
h3{font-size:19px;line-height:26px}.appointment-style-two .appointment-form
h3{line-height:26px}.wndfal-emergency
h2{font-size:18px}.masonry-filters ul
li{padding-right:8px}.wndfal-page-title
h2{font-size:24px}.wndfal-reliable
h2{font-size:20px}.quote-wrap
h2{font-size:18px;line-height:28px}.widget-contact-info{padding:30px
20px}.widget-testimonials
h4{font-size:18px}.woocommerce div.product
.product_title{font-size:20px}.woocommerce div.product .woocommerce-tabs ul.tabs li
a{min-width:10px}#add_payment_method #payment ul.payment_methods li img,
.woocommerce-cart #payment ul.payment_methods li img,
.woocommerce-checkout #payment ul.payment_methods li
img{margin:10px
0 0 25px}h3.wndfal-offer-title{font-size:20px}}